/**
 * 统一多端基础样式
 * 比较理想的是 View 标签统一为 display: flex; flex-direction: column
 * 但是 H5 上内置组件样式可能会错乱，因此暂时不这样处理，有用到 flex 的地方都显式声明主轴方向即可
 */
/* weapp */
page {
  height: 100%;
  //line-height: 1;
  /**
     不兼容小程序
   */
  //padding-bottom: constant(safe-area-inset-bottom);
  //padding-bottom: env(safe-area-inset-bottom);
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
/*postcss-pxtransform rn eject enable*/
div {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

.taro-text {
  box-sizing: border-box;
}


.footer{
  position: fixed;
  bottom: 0;
  z-index: 0;
  left:16PX;
  right:16PX;
}
.btn-submit-view{
  height: 40PX;
  display: flex;
  background: #06B48D;
  border-radius: 25PX;
}
.btn-wrap{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

}
//.footer{
//  position: fixed;
//  z-index: 9999;
//  bottom: 0;
//  width: 100%;
//
//}
//.btn-submit-view{
//  height: 100px;
//  display: flex;
//  background: #06B48D;
//}
.btn-submit-two{
  height: 100px;
  display: flex;
  .left{
    width: 35%;
    display: flex;
    border:1PX solid #3991FA;
    .text{
      font-size: 32px;
      font-family: PingFangSC-Regular;
      color: #3991FA;
      margin: auto;
    }
  }
  .right{
    background: #3991FA;
    width: 65%;
    display: flex;
    .text{
      font-size: 32px;
      font-family: PingFangSC-Regular;
      color: #FFFFFF;
      margin: auto;
    }
  }
}
.btn-submit-disabled{
  height: 100px;
  display: flex;
  background:rgba(153,153,153,0.6);
}
.btn-submit-text{
  font-size: 32px;
  font-family: PingFangSC-Regular;
  color: #FFFFFF;
  margin: auto;
}
::-webkit-scrollbar {
  display:none;
  width:0;
  height:0;
  color:transparent;
}

.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
